html {
    background-color: black;
    background-image: url(senaatti.jpg);
    background-size: cover;
    /*background-position: 0px -100px;*/
    font-family: monospace;
    text-align: center;
    font-size: large;
    animation: show 2.5s;
    opacity: 1;
    

}


body {

    margin-left: 20%;
}

@keyframes show {
    0%{
        opacity: 0;
       
      

    }
    100%{
        opacity: 1;
        
    }
}

.button {
    margin-top: 20%;
    margin-right: 25%;
    color: #000000;
    background-color: #ffffffa3;
    border: 1px solid #ff6550;
    padding: 30px;
    animation: showButton 7.5s;
    
}

@keyframes showButton {
    0%{
        opacity: 0;
        margin: 0;
    }
    100%{
        opacity: 1;
        margin: 50;
    }
}

a {

    text-decoration: none;
    font-size: 40px;
    color: #ff6550;
    -webkit-text-stroke: black 2px;
    transition: 1.2s;
}

a:hover {
    color: black;
   
    -webkit-text-stroke: #ff6550 2px;
}