

html {
    background-color: black;
    font-family:monospace;
    font-size: larger;
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: beige;
    margin-right: 2.5%; /* TÄÄ OLI AIEMMIN KYMMENEN JA ALEMPI MYÖS */
    margin-left: 2.5%;
    animation: show 5.5s;
    opacity: 1;
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header {
    text-align: center;
    
}

header img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    
}

/*NAV ALKAA*/
nav {
    padding-top: 3px;
    background-color: #000000;
    border-bottom: 1px solid #ff6550;
    z-index: 2;
 /*   border-left: 1px solid #ff6550;*/

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav img {
    max-width: 15%;
    height: auto;
    margin-bottom: -40px;
    animation: navishow 10.5s;
    opacity: 1;
}

@keyframes navishow {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}



nav ul li {
    text-align: right;
    list-style: none;
   
}

nav ul li a {
    text-decoration: none;
    color: beige;
    transition: 1s;
}

nav ul li a:hover {
    transition: 1s;
    color: #ff6550;
}



/*NAV PÄÄTTYY*/

#backdrop {
    background: rgb(255,101,80);
background: linear-gradient(180deg, rgba(255,101,80,1) 0%, rgba(235,112,5,1) 25%, rgba(235,72,5,1) 50%, rgba(235,5,51,1) 75%, rgba(235,148,5,1) 100%);
}



/*YLÄLAATIKKO upper*/

h1 {
    color: #ff6550;
    font-size: 85px;
    -webkit-text-stroke: #000000 3px;
    /*margin-bottom: -5px;*/
   
    
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 46px;
    }
}

#hitIt {
    border-right: 1px solid #ff6550;
    border-bottom: 1px solid #ff6550;
    border-left: 1px solid #ff6550;
    background-image: url(gotham.jpg);
    /*border-radius: 30px 30px 0px 0px;*/
    /*padding: 10px 390px 10px 120px;*/
    padding: 3% 10% 10% 10%;
    background-size: cover;
    background-position: 0px 0px;
    filter: sepia(100%);
    transition: 1.4s;
}

#hitIt:hover {
    filter: sepia(0%)
}


#hitIt p {
    color: #000000;
    background-color: #ffffff6c;
    border: 1px solid #ff6550;
    padding: 30px;
}


#hitIt img {
    max-width: 40%;
    height: auto;
    transition: 3s;
}

#hitIt img:hover {
    transition: 3s ;
    filter: blur(5px);
}

/*ABOUT*/

#about {
    
    border-right: 1px solid #ff6550;
    border-bottom: 1px solid #ff6550;
    border-left: 1px solid #ff6550;
    padding: 3% 10% 10% 10%;
    background-image: url(huvipuisto.jpg);
    background-size: cover;
    background-position: 0px 0px;
    filter: sepia(100%);
    transition: 1.4s;    
}

#about:hover {
filter: sepia(0%);
}

#about p {
    color: #000000;
    background-color: #ffffffb0;
    border: 1px solid #ff6550;
    padding: 30px;

}
/*WORK*/

#work {
    border-right: 1px solid #ff6550;
    border-bottom: 1px solid #ff6550;
    border-left: 1px solid #ff6550;
    padding: 3% 10% 10% 10%; 
    background-image: url(senaatti.jpg);
    background-size: cover;
    background-position: 0px 0px;
    filter: sepia(100%);
    transition: 1.4s;    
}

#work:hover {
    filter: sepia(0%);
}

#work p {
    color: #000000;
    background-color: #ffffffb0;
    border: 1px solid #ff6550;
    padding: 30px;
    
}

h2 {
    -webkit-text-stroke: #000000 2px;
    color: #188888;
    text-align: left;
    font-size: 35px;
}

.samples {
   text-align: center;
    
}

.samples img {
    max-width: 27%;
    height: auto;
    margin: 8px;
    border: 2px solid #188888;
    border-radius: 4%;
    box-shadow: #00000092 3px 3px 3px 3px;
    transition: 1s;
}

.samples img:hover {
    max-width: 35%;

}




/*
.showcase {
    color: #000000;
    background-color: #ffffffb0;
    border: 1px solid #ff6550;
    max-width: fit-content;
}

.showcase img {
    max-width: 25%;
}
*/

/*CONTACT*/

#contact {
    border-right: 1px solid #ff6550;
    border-bottom: 1px solid #ff6550;
    border-left: 1px solid #ff6550;
    padding: 3% 10% 10% 10%; /* B4: padding: 3% 13% 13% 15%; */
    background-image: url(apohelsinki.jpg);
    background-position: 0px 0px;
    background-size: cover;
    filter: sepia(100%);
    transition: 1.4s;
    
}

#contact:hover {
    filter: sepia(0%);
}

#contact p {
    color: #000000;
    background-color: #ffffffb0;
    border: 1px solid #ff6550;
    padding: 30px;
}

#contact p a img {
text-align: center;
max-width: 20%;
margin-left: 18%;

}


/*FOOTER*/

footer {
    background-color: #ff6550;
    font-size: medium;
    color: #000000;
    padding: 5px;
    text-align: right;
}